@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/image/bg-header-sized.jpg" style="width:100%; float:left;padding-left:0px;" />
        <h1 class="display-4">Welcome to Group C Project</h1>
        <p class="text-left">
            <h3>Project Title: Posting Blog</h3>
            Groups Team Members: Nathan Obrien, Noah Greer, & Sareh Akbarpour
        </p>
    </div>
